.content_vitri{
  background: #fff;
  z-index: 9999;
  .text-vitri{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    background: #72BF44;
    border-radius: 3px 3px 0px 0px;
    padding: 10px;
    border-bottom: 1px solid #fff;
  }
  .chon-vitri{
    .text-chon{

      background: #72BF44;
      padding: 16px;
      padding-left: 36px;
      padding-right: 36px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      /* identical to box height, or 114% */

      text-align: center;
      text-transform: capitalize;

      color: #FFFFFF;
      position: relative;
      .a-ql{
        position: absolute;
        top: 6px;
        left: 0px;
        color: #fff;
        font-size: 20px;
        width: 36px;
        height: 36px;
        display: grid;
        justify-content: center;
        border-radius: 0px;
        border-right: 1px solid #ffffff70;
        background: unset;
        //background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
      }
    }
    .nd_vitri{
      .input-search-vitri{
        padding: 10px;
        input{
          height: 36px;
          width: 100%;
          background: #FFFFFF url("../images/Search.png") no-repeat right 10px top 8px;
          border: 1px solid #D4D4D4;
          box-sizing: border-box;
          border-radius: 3px;
          padding-left: 12px;
          padding-right: 12px;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 15px;
          color: #9F9F9F;
          &:focus{
            outline: unset;
          }
        }
      }
      .list_vitri{
        .box{
          height: 363px;
        }
        .box ul {
          background: #fff;
          width: 100%;
          max-height: 363px;
          //background: orange;
          overflow: auto;
          li{
            a{
              background: #fff;
              display: block;
              padding: 18px;
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 15px;
              text-transform: capitalize;
              color: #333333;
              &:hover{
                background: rgba(114, 191, 68, 0.08);
              }
            }
          }
        }
        .box ul::-webkit-scrollbar {
          width: 0 !important;
          display: none;
        }
      }
    }
  }
}