.new-contents {
  background: #fff;
  padding: 20px;
}

.new-contents .title-module {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  text-transform: uppercase;
  color: #333333;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Inter-SemiBold;
}

.new-contents .list_news .left_news {
  padding-left: 0px;
}

@media (min-width: 1200px) {
  .new-contents .list_news .left_news {
    width: 640px;
    padding-right: 20px;
  }
}

.new-contents .list_news .left_news .a-img {
  display: block;
  margin-bottom: 20px;
}

.new-contents .list_news .left_news .a-img img {
  max-width: 100%;
  border-radius: 3px;
}

.new-contents .list_news .left_news .a-title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  font-family: Inter-SemiBold;
  text-transform: capitalize;
  color: #333333;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 30px;
}

.new-contents .list_news .left_news .a-title:hover {
  color: #288AD6;
}

.new-contents .list_news .left_news .p-summary {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #767676;
}

.new-contents .list_news .right_news {
  padding-right: 0px;
}

@media (min-width: 1200px) {
  .new-contents .list_news .right_news {
    width: 300px;
    padding-left: 0px;
  }
}

.new-contents .list_news .right_news .item_news {
  margin-bottom: 20px;
}

.new-contents .list_news .right_news .item_news .a-img {
  display: block;
  margin-bottom: 12px;
}

.new-contents .list_news .right_news .item_news .a-img img {
  max-width: 100%;
  border-radius: 3px;
}

.new-contents .list_news .right_news .item_news .a-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 48px;
  color: #333333;
}

.new-contents .list_news .right_news .item_news .a-title:hover {
  color: #288AD6;
}

.new-contents .list_news .item_news_2 {
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .new-contents .list_news .item_news_2 {
    width: 300px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 20px;
  }
}

.new-contents .list_news .item_news_2 .a-img {
  display: block;
  margin-bottom: 12px;
}

.new-contents .list_news .item_news_2 .a-img img {
  max-width: 100%;
  border-radius: 3px;
}

.new-contents .list_news .item_news_2 .a-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 48px;
  color: #333333;
}

.new-contents .list_news .item_news_2 .a-title:hover {
  color: #288AD6;
}

.new-contents .list_news .mg6 {
  margin-right: 0px;
}

.new-contents .list_news .list_news_2 {
  border-top: 1px solid #E5E5E5;
  padding-top: 20px;
}

.new-contents .list_news .list_news_2 h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
  color: #333333;
  font-family: Inter-SemiBold;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.new-contents .list_news .list_news_2 .ds_news .item_news {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-contents .list_news .list_news_2 .ds_news .item_news:last-child {
  margin-bottom: 0px;
}

@media (min-width: 1200px) {
  .new-contents .list_news .list_news_2 .ds_news .item_news .div-img {
    width: 320px;
    padding-right: 20px;
  }
}

.new-contents .list_news .list_news_2 .ds_news .item_news .div-img .a-img {
  display: block;
}

.new-contents .list_news .list_news_2 .ds_news .item_news .div-img .a-img img {
  max-width: 100%;
  border-radius: 3px;
}

@media (min-width: 1200px) {
  .new-contents .list_news .list_news_2 .ds_news .item_news .info-news {
    width: 620px;
  }
}

.new-contents .list_news .list_news_2 .ds_news .item_news .info-news .a-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  font-family: Inter-SemiBold;
  text-transform: capitalize;
  color: #333333;
}

.new-contents .list_news .list_news_2 .ds_news .item_news .info-news .a-title:hover {
  color: #288AD6;
}

.new-contents .list_news .list_news_2 .ds_news .item_news .info-news .p-time {
  margin-top: 16px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.new-contents .list_news .list_news_2 .ds_news .item_news .info-news .p-summary {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 42px;
  color: #767676;
}

.new-contents .list_news .list_news_2 .div-more {
  margin-top: 20px;
}

.new-contents .list_news .list_news_2 .div-more .c-view-more {
  text-align: center;
}

.new-contents .list_news .list_news_2 .div-more .c-view-more .load_more {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  font-family: Inter-SemiBold;
  text-align: center;
  color: #288AD6;
}

#footer {
  margin-top: 10px;
}

@media (min-width: 1200px) {
  .l_dt {
    width: 28%;
  }
}

@media (min-width: 1200px) {
  .r_dt {
    width: 72%;
  }
}

@media (max-width: 767px) {
  .conten_body .right_boby {
    padding-left: 0px;
    padding-right: 0px;
  }
  .conten_body .right_boby .new-contents .title-module {
    font-size: 18px;
  }
  .conten_body .right_boby .new-contents .list_news .left_news {
    padding-right: 0px;
    margin-bottom: 15px;
  }
  .conten_body .right_boby .new-contents .list_news .right_news {
    padding-left: 0px;
  }
  .conten_body .right_boby .new-contents .list_news .right_news .item_news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .conten_body .right_boby .new-contents .list_news .right_news .item_news .a-img {
    width: 30%;
    margin-bottom: 0px;
  }
  .conten_body .right_boby .new-contents .list_news .right_news .item_news .a-title {
    width: 70%;
    padding-left: 10px;
  }
  .conten_body .right_boby .new-contents .list_news .item_news_2 {
    padding-left: 0px;
    padding-right: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .conten_body .right_boby .new-contents .list_news .item_news_2 .a-img {
    width: 30%;
    margin-bottom: 0px;
  }
  .conten_body .right_boby .new-contents .list_news .item_news_2 .a-title {
    width: 70%;
    padding-left: 10px;
  }
  .conten_body .right_boby .new-contents .list_news .list_news_2 h2 {
    font-size: 18px;
  }
  .conten_body .right_boby .new-contents .list_news .list_news_2 .ds_news .item_news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .conten_body .right_boby .new-contents .list_news .list_news_2 .ds_news .item_news .div-img {
    width: 30%;
    margin-bottom: 0px;
  }
  .conten_body .right_boby .new-contents .list_news .list_news_2 .ds_news .item_news .info-news {
    width: 70%;
    padding-left: 10px;
  }
  .conten_body .right_boby .new-contents .list_news .list_news_2 .ds_news .item_news .info-news .p-time {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media (max-width: 500px) {
  .new-contents .list_news .list_news_2 .ds_news .item_news {
    display: block !important;
  }
  .new-contents .list_news .list_news_2 .ds_news .item_news .div-img {
    width: 100% !important;
  }
  .new-contents .list_news .list_news_2 .ds_news .item_news .div-img .a-img img {
    width: 100%;
  }
  .new-contents .list_news .list_news_2 .ds_news .item_news .info-news {
    margin-top: 10px;
    padding-left: 0px !important;
    width: 100% !important;
  }
  .new-contents .list_news .list_news_2 .ds_news .item_news .info-news .a-title {
    font-size: 16px;
  }
}
/*# sourceMappingURL=cat.css.map */