.product_menu{
	margin-bottom: 10px;
    margin-top: 15px;
}
@media (max-width: 767px) {
    .product_menu{
        margin: 0;
    }
}
.product_menu_2{
}
.product_menu .level_0{
    font-weight:none;
    line-height:22px;
}
.product_menu .level_0 span{
    font-weight: 600 !important;
}
.product_menu .item a span:hover{
    color: #ffa100;
}
.product_menu .hv a span:hover{
    color: #ffa100!important;
}
.product_menu .item a{
    text-decoration:none;
}
.product_menu .level_0 > a{
    background:#ab368d;
    padding-bottom:5px;
    margin-bottom:10px;
    border-radius:2px;
    font-size:18px;
    color:#f9f2f7;
    font-family:serif;
    display:block;
    
}
.product_menu li.item span{
    font-size: 14px;
    color: #555555;
    display: block;
    line-height: 25px;
    text-decoration: none;
    font-weight: 400;
    text-transform: none;
}
.product_menu li.plus span{
    background:url(../images/icon-menu-cate-li-show.jpg) right center no-repeat;
    padding-right:12px;
}
.product_menu li.hide span{
    background:url(../images/icon-menu-cate-li-hide.jpg) right center no-repeat;
    padding-right:12px;
}
.product_menu li.active  span{
    color: red;
    font-weight: bold;
}
.product_menu ul li.level_1 a,.product_menu ul li.level_2 a,.product_menu ul li.level_3 a{
    color: #363636;
    font-weight:bolder;
    display: block;
    line-height: 32px;
    text-decoration: none;
}
.product_menu li ul.wrapper_children_level0{
	padding: 10px 0 25px 0px;
}
/****************************************/

.title{  
    /*background:none no-repeat scroll 0 0 #89246F;*/
    border-radius: 3px 3px 3px 3px;
    color: #FEFCFD;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 10px;
    padding: 2px 2px 2px 13px;
    text-align: center;
}
.text1{
    text-align: left;
}
.close{
    background: url("../images/icon-menu-li-open.png") no-repeat scroll 170px center #89246F;
}
.open{
    background: url("../images/icon-menu-li-close.png") no-repeat scroll 170px center #89246F;
}
.product_menu .level_0{
    /*border-radius: 3px 3px 3px 3px;*/
    margin-bottom: 5px;
}
.product_menu .level_0 h2.h2_0{
	padding-bottom: 11px;
}
.product_menu .level_0 h2.h2_0 a span{
    font-size: 11px;
    font-weight: bold;
    padding-left: 46px;
    padding-top: 11px;
}
.product_menu  .level_0 > a{
    color: #F9F2F7;
    display: block;
    font-size: 15px;
    font-family: arial;
    font-weight: normal;
}
.product_menu  .level_0 > a:hover{
	text-decoration: none;
}
.product_menu .level_1{
	/*border-bottom: 1px solid #CCCCCC;*/
    padding: 2px 0 2px 5px;
    margin-left: 5px;
    /*background: url(../images/icon1.png) no-repeat top 11px left 4px;*/
}
.product_menu .level_1:hover,.product_menu .activated {
	background-color: none;
}
li.level_1 a{
	color: #363636;
    display: block;
    font-weight: normal;
    /*line-height: 25px;*/
    text-decoration: none;
}
.product_menu .level_2{
    padding: 2px 0 2px 5px;
    margin-left: 10px;
}
.product_menu .level_3{
    padding: 2px 0 2px 5px;
    margin-left: 15px;
}
.product_menu .level_4{
    padding: 2px 0 2px 5px;
    margin-left: 20px;
}
.product_menu .level_5{
    padding: 2px 0 2px 5px;
    margin-left: 25px;
}
.product_menu li{
    border-bottom: 1px solid #f0f0f0;
}