.ul-cap1{
  .li-cap1{
    margin-top: 16px;
    a{
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 14px;
      /* identical to box height */


      color: #666666;
    }
  }
}