#cssmenu {
  background: #ffffff;
  position: relative;
  z-index: 6;
}

@media (max-width: 991px) {
  #cssmenu {
    display: none;
  }
}

#cssmenu .list-item-menu {
  color: #fff;
}

#cssmenu .list-item-menu .see-products-menu {
  line-height: 45px;
}

#cssmenu .list-item-menu .see-products-menu i {
  margin-left: 10px;
}

#cssmenu .list-item-menu .see-products-menu:hover {
  cursor: pointer;
}

#cssmenu .list-item-menu .list-menu-product-show {
  background: #ffffff;
  position: relative;
}

#cssmenu .list-item-menu .list-menu-product-show .title-menu-top {
  text-transform: uppercase;
  font-weight: bold;
  padding: 13px 20px 13px 0;
  color: #333333;
  font-size: 14px;
}

#cssmenu .list-item-menu .list-menu-product-show .title-menu-top .fa-angle-down {
  margin-left: 15px;
}

#cssmenu .list-item-menu .list-menu-product-show .title-menu-top .fa-bars {
  margin-right: 15px;
}

#cssmenu .list-item-menu .list-menu-product-show:hover div.selected {
  display: block !important;
  margin-top: 0 !important;
}

#cssmenu .list-item-menu .menu-head-icon {
  padding-top: 4px;
  padding-left: 40px;
}

#cssmenu .list-item-menu .design-product {
  background: url(../images/menu-top_01.png) no-repeat left center;
}

#cssmenu .list-item-menu .free-all {
  background: url(../images/menu-top_03.png) no-repeat left center;
}

#cssmenu .list-item-menu .change-dreitag {
  background: url(../images/menu-top_05.png) no-repeat left center;
}

#cssmenu #list_menu .other .list_other .other1 {
  float: left;
}

#cssmenu #list_menu .other {
  width: 80%;
  border-left: 1px solid #ccc;
  margin-left: -1px;
}

#cssmenu #list_menu .title_cat {
  padding: 10px 15px;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  margin-bottom: 10px;
}

#cssmenu #list_menu .age {
  padding: 0 0 5px 0;
  margin: 15px 15px 5px 10px;
  display: inline-block;
}

#cssmenu #list_menu {
  position: relative;
  display: inline-block;
}

#cssmenu #list_menu div#megamenu {
  position: absolute;
  font-weight: normal;
  text-transform: capitalize;
  width: 1300px;
  border-radius: 5px 0 0 5px;
  margin-top: 19px;
  color: #333333;
}

#cssmenu #list_menu div.selected {
  display: none;
}

#cssmenu #list_menu ul, #cssmenu #list_menu ul li, #cssmenu #list_menu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#cssmenu #list_menu div.selected {
  position: relative;
  z-index: 2;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  background: #fff;
}

#cssmenu #list_menu div.selected li {
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
  float: none;
}

#cssmenu #list_menu div.selected li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

#cssmenu #list_menu div.selected li:hover > ul {
  visibility: visible;
}

#cssmenu #list_menu div.selected li a {
  display: block;
  padding: 3px 10px;
  color: #333333;
  line-height: 22px;
}

#cssmenu #list_menu div.selected li a:hover {
  background-color: #f7941e5c;
}

#cssmenu #list_menu div.selected .other2 {
  display: inline-block;
  border-right: 1px solid #ccc;
  border-bottom: unset;
}

#cssmenu #list_menu div.selected .other2:last-child {
  border-right: none;
}

#cssmenu #list_menu div.selected ul {
  z-index: 598;
  width: 100%;
  margin-top: 0px;
  border-radius: 0 3px 3px 0;
}

#cssmenu #list_menu div.selected ul li {
  float: none;
  font-weight: normal;
}

#cssmenu #list_menu div.selected ul ul {
  top: 0px;
  right: 0;
}

#cssmenu .categori1 {
  display: inline-block;
}

#cssmenu .categori1 a {
  padding: 13px 20px;
  color: #333333;
  font-size: 14px;
}

#cssmenu .categori1 a:hover {
  color: #333333;
}

#cssmenu .categori1 .fire {
  padding-right: 30px;
  background: url("../images/fire.png") right 5px top 9px no-repeat;
}

#cssmenu .cart-top-head {
  padding-top: 10px;
  background-color: #f7941e;
  padding-bottom: 10px;
}

#cssmenu .cart-top-head .link-cat {
  padding: 5px 5px 5px 60px;
  background: url(../images/basket.png) left 20px top 2px no-repeat;
  color: #000000;
  font-size: 14px;
}

#cssmenu .cart-top-head .link-cat:hover {
  color: #000000;
}

#cssmenu .cart-top-head .product {
  display: inline-block;
  padding: 5px 25px 5px 5px;
  color: #000000;
  font-size: 14px;
}

#cssmenu .cart-top-head .product:hover {
  color: #000000;
}

.top_cat {
  width: 20% !important;
  border-right: 1px solid #ccc;
}

.old_sort {
  padding: 0 10px;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.show_list_see_pr {
  display: none;
}

.show_list_see_pr .content-list-pro {
  position: relative;
}

.show_list_see_pr .content-list-pro:before {
  content: "";
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-top: 8px solid transparent;
  position: absolute;
  top: -15px;
  left: 375px;
  z-index: 6;
}

.show_list_see_pr .content-list-pro ul {
  padding: 20px;
  background: #fff;
  position: absolute;
  z-index: 7;
  width: 100%;
  -webkit-box-shadow: 1px 3px 7px 1px #b5b3b3;
          box-shadow: 1px 3px 7px 1px #b5b3b3;
}

.show_list_see_pr .content-list-pro ul li {
  float: left;
  margin-right: 10px;
}

.show_list_see_pr .content-list-pro ul li .view_all_see {
  color: #ce0021;
  display: block;
  margin-top: 20px;
  border: 1px solid;
  margin-left: 10px;
  padding: 7px 16px;
  border-radius: 5px;
  text-decoration: none;
  text-shadow: none;
}

@media (min-width: 1350px) {
  .container {
    width: 1300px;
    padding: 0;
  }
}

@media (max-width: 575.98px) {
  body header .head-top .list-menu-top li {
    font-size: 10px;
    float: right;
    line-height: 27px;
  }
  body header .head-top .list-menu-top li a {
    padding: 0 5px;
  }
}

@media (min-width: 1200px) {
  .col-lg-2 {
    width: 20%;
  }
}

@media (min-width: 1200px) {
  .col-lg-10 {
    width: 80%;
  }
}
/*# sourceMappingURL=styles.css.map */