.pcc a{
  color: #888888;
}
.cat_pr{
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  padding: 5px 0;
}
.list_child{
  margin-bottom: 10px;
}
.pcc {
  padding: 0!important;
.list_other .other1{
  width: 25%;
  padding: 0 10px;
}
}