#showfilter {
    display: none;
  }
@media only screen and (max-width:997px){
  #showfilter {
    display: block;
  }
}
#showfilter > ul{
  list-style: none;
  margin:  0 -5px;
  padding: 0;
}
#showfilter > ul > li{
  width: 50%;
  padding: 0 5px;
  margin-bottom: 10px;
  float: left;
}

#showfilter .field_label{
  border: 1px solid #C3CBD5;
  margin: -1px 0 0 0;
  padding: 15px 6% 15px 15px;
  text-align: left;
  background: url("../images/menu-arrow-dark.png") no-repeat scroll 96% center;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
    overflow: hidden;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#showfilter .delete_filter{
	 border: 1px solid #C3CBD5;
  margin: -1px 0 0 0;
  padding: 15px 6% 15px 15px;
  text-align: left;
  font-size: 13px;
  text-transform: uppercase;
  display: block;
}
#showfilter .dropdown-menu {
  /*position: relative;*/
  /*float: none;*/
  /*margin: 7px 6px 7px 7px;*/
}
#showfilter .dropdown-menu li{
   clear: left;
  display: block;
  margin: 0 10px 0 0;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
}
#showfilter .dropdown-menu  li a {
  color: #24272B;
  padding: 0 0 0 12px;
  display: block;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  background: url('http://cdn1.jomashop.com/skin/frontend/enterprise/joma/images/joma-sprite-b.png') no-repeat 12px 7px;
  padding: 0 0 0 40px;
}
 #showfilter .dropdown-menu  li.activated a {
  background-position: 12px -29px;
}