.contents_detail{
  margin-top: 10px;
  background: #fff;
  padding: 20px;
  .title-module{
  	padding: 0 20px 15px 0px;
    border-bottom: 1px solid #eeeeee;
    font-size: 20px;
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;

  }
  .contents-summary{
    padding: 0 20px;
    font-weight: bold;

  }
  .contents-description{
    padding-top: 20px;
    //padding-left: 30px;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 30px;
  	img{
  		max-width: 100% !important;
  		height: auto !important;
  	}
    p{
      margin-bottom: 10px;
      font-size: 14px;
      color: #333333;
    }
  }
}
.contents_detail {
  ul {
    padding-left: 20px;
    list-style: unset!important;
    margin-bottom: 10px;
  }
  p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    img{
      display: block;
      max-width: 100%;
      margin: auto;
    }
  }
}
#footer{
  margin-top: 10px;
}
@media(max-width: 767px){
  .menu_right{
    display: none;
  }
  .right_boby{
    padding-left: 0px;
    padding-right: 0px;
  }
}