.title_popup {
  margin-bottom: 15px;
}

.title_popup .quan {
  color: #333333;
  font-weight: bold;
  float: left;
}

.title_popup .quan span {
  font-weight: normal;
}

.title_popup .price_tt {
  float: right;
  color: #eb0003;
  font-weight: bold;
}

.sbmm .order_now {
  color: #fff;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#38cf6a), to(#21b452));
  background-image: linear-gradient(#38cf6a, #21b452);
  display: block;
  padding: 10px;
  height: auto;
  line-height: 20px;
  border-radius: 3px;
}

.now_ {
  color: #333333;
  text-transform: none;
  background: #ededed;
  display: block;
  margin-top: 20px;
  padding: 10px;
  height: auto !important;
  line-height: 20px;
  border-radius: 3px;
  border: none !important;
  font-weight: bold;
}

#popup-cart .prd_detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 60% 10%;
      grid-template-columns: 30% 60% 10%;
  padding: 30px 0;
  border-bottom: 1px solid #ededed;
}

#popup-cart .prd_detail .name_prd {
  color: #333333;
  line-height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

#popup-cart .prd_detail .name_prd .nature {
  font-size: 12px;
  margin-bottom: 0;
  line-height: 1.2;
}

#popup-cart .prd_detail .name_prd .price_prd {
  margin-bottom: 0;
  font-weight: bold;
}

#popup-cart .prd_detail .del_prd {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-popup-2 #close-cart:after, .wrapper-popup #close-cart:after {
  content: '';
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 20px;
  height: 20px;
  top: -5px;
  z-index: 1;
  left: 300px;
  background: #fff;
}

@media (max-width: 385px) {
  .wrapper-popup-2 #close-cart:after, .wrapper-popup #close-cart:after {
    left: 258px;
    top: -10px;
  }
}

@media (min-width: 386px) and (max-width: 767px) {
  .wrapper-popup-2 #close-cart:after, .wrapper-popup #close-cart:after {
    left: 297px;
    top: -10px;
  }
}

#detail_cart {
  color: #333333;
}

#detail_cart .slogan {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  border-bottom: 1px solid #dddddd;
}

@media (max-width: 767px) {
  #detail_cart .slogan {
    font-size: 25px;
    padding: 15px;
  }
}

#detail_cart .cartmain {
  margin-top: 25px;
}

#detail_cart .cartmain .infor_cart {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

#detail_cart .cartmain .list-prd .prd_detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 70% 10%;
      grid-template-columns: 20% 70% 10%;
  padding: 30px 0;
  border-bottom: 1px solid #dddddd;
}

#detail_cart .cartmain .list-prd .prd_detail .img_product .box_sd {
  -webkit-box-shadow: 1px 2px 8px 2px rgba(32, 33, 36, 0.18);
          box-shadow: 1px 2px 8px 2px rgba(32, 33, 36, 0.18);
  padding: 10px;
  border-radius: 6px;
}

#detail_cart .cartmain .list-prd .prd_detail .name_prd {
  margin-left: 15px;
  line-height: 25px;
}

#detail_cart .cartmain .list-prd .prd_detail .name_prd a {
  display: block;
}

#detail_cart .cartmain .list-prd .prd_detail .name_prd a h3 {
  margin: 0;
  font-size: 16px;
}

#detail_cart .cartmain .list-prd .prd_detail .name_prd .price_prd {
  color: #eb0003;
  font-weight: bold;
}

#detail_cart .cartmain .list-prd .prd_detail .del_prd {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  justify-items: center;
}

#detail_cart .cartmain .list-prd .prd_detail .del_prd a {
  color: #0071e3;
  display: block;
}

#detail_cart .cartmain .total_pr {
  margin-top: 30px;
}

@media (max-width: 767px) {
  #detail_cart .cartmain .total_pr {
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
  }
}

#detail_cart .cartmain .total_pr .left_ {
  font-weight: bold;
  float: left;
}

#detail_cart .cartmain .total_pr .price_right {
  float: right;
  font-size: 20px;
  color: #eb0003;
  font-weight: bold;
}

.name_prd .quan .custom-quantity-input span {
  border: 1px solid #e5e5e5;
  display: inline-block;
  height: 26px;
  width: 26px;
  line-height: 22px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  vertical-align: top;
  color: #aaaaaa;
}

.name_prd .quan .custom-quantity-input .spamuan {
  background: none;
  border: 1px solid #e5e5e5;
  width: 60px;
  text-align: center;
  font-weight: normal;
  color: #000;
  font-size: 14px;
}

@media (max-width: 767px) {
  #cart_css {
    padding-top: 25px;
  }
}

#cart_css .mbm select {
  color: #333333;
}

#cart_css .form-wrap {
  margin-top: 30px;
}

#cart_css .form-wrap ::-webkit-input-placeholder {
  color: #999999;
}

#cart_css .form-wrap :-ms-input-placeholder {
  color: #999999;
}

#cart_css .form-wrap ::-ms-input-placeholder {
  color: #999999;
}

#cart_css .form-wrap ::placeholder {
  color: #999999;
}

#cart_css .rules a {
  color: #4289e7;
}

#cart_css .rules input[type='checkbox'] {
  display: none;
}

#cart_css .rules input[type='checkbox'] + label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
  font-weight: normal;
}

#cart_css .rules input[type='checkbox'] + label:before {
  content: '';
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: -1px;
  border: 2px solid #dddddd;
  background-color: #ffffff;
}

#cart_css .rules input[type='checkbox']:checked + label {
  padding-left: 30px;
}

#cart_css .rules input[type='checkbox']:checked + label:before {
  background: url("../images/agree.png") no-repeat;
  border: none;
}

#cart_css #submitbt, #cart_css #submitbt_online {
  padding: 10px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: block;
  margin: 0 auto;
  font-weight: bold;
}

#cart_css #submitbt span, #cart_css #submitbt_online span {
  display: block;
  font-size: 12px;
  color: #fff;
  text-transform: none;
}

@media (max-width: 767px) {
  #cart_css #submitbt, #cart_css #submitbt_online {
    margin-top: 10px;
  }
}

#cart_css #submitbt {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fc2300), to(#ed0303));
  background-image: linear-gradient(#fc2300, #ed0303);
}

#cart_css #submitbt_online {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffa300), to(#ff5c00));
  background-image: linear-gradient(#ffa300, #ff5c00);
}
/*# sourceMappingURL=cart.css.map */