.body_error{
  padding: 15px 16px 30px;
  line-height: 20px;
  text-align: center;
  svg{
    width: 100px;
    display: block;
    margin: 40px auto;
  }
  p{
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }
  a{
    background-color: #e83e28;
    margin-right: 10px;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 3px;
    display: inline-block;
    margin-top: 20px;
  }
}
