* {
  margin: 0px;
  padding: 0px;
}

@media (max-width: 767px) {
  .cart_pc {
    display: none;
  }
}

body {
  background-color: #ebebeb !important;
}

body a {
  text-decoration: none !important;
}

body button {
  border-radius: 0 !important;
}

body section {
  padding: 0;
}

body section .container {
  padding: 0px;
}

body section .container .col-md-12 {
  padding: 0px;
}

body section .container .col-md-12 ._progress-bar {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #f7941e !important;
  width: 8%;
}

body section .container .col-md-12 ._progress-bar span {
  position: absolute;
  bottom: -7px;
  z-index: 1000;
  left: 7%;
}

body section .container #nav-content {
  margin: 0px;
  background-color: #ffffff;
}

body section .container #nav-content ul {
  list-style-type: none;
  margin: 0px;
}

body section .container #nav-content ul li {
  display: block;
  float: left;
  padding: 10px 52.5px;
}

@media (max-width: 767px) {
  body section .container #nav-content ul li {
    float: unset;
    text-align: center;
  }
}

body section .container #nav-content ul li a {
  color: #555555;
}

body section .container #nav-content ul li:hover > a {
  color: #f7941e;
}

body section .container #nav-content ul li #checked {
  font-weight: bold;
  background-color: #f7941e;
  color: #fff;
}

body section .container #body-content {
  margin: 10px 0px;
}

body section .container #body-content .col-md-4 {
  margin: 0px;
  padding: 0px;
}

@media only screen and (min-width: 1200px) {
  body section .container #body-content .col-md-8 {
    margin: 0px;
    padding: 0px 10px 0px 0px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  body section .container #body-content .col-md-8 {
    margin: 0px;
    padding: 0px 0px 0px 0px;
  }
}

body section .container #body-content .col-md-6 {
  padding: 0px 2px 0px 0px;
  margin: 0px;
}

body section .container #body-content .body-content--1a {
  padding: 10px 0px 7px;
  background-color: #ffffff;
}

body section .container #body-content .body-content--1a h4 {
  text-align: center;
  padding: 20px 0px;
  margin: 0px;
  font-size: 22px;
  color: #333333;
}

body section .container #body-content .body-content--1a .main-content--1a {
  padding: 0px 30px;
}

body section .container #body-content .body-content--1a .main-content--1a input {
  margin: 12px 0px;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  font-size: 14px;
  color: #999999;
}

body section .container #body-content .body-content--1a .main-content--1a a small {
  text-align: center;
  display: block;
  font-weight: normal;
  padding: 2px 0px 12px;
  color: #006cc6;
  font-size: 14px;
}

body section .container #body-content .body-content--1a .main-content--1a small.small {
  text-align: center;
  display: block;
  color: #999999;
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
  body section .container #body-content .body-content--1a .main-content--1a small.small {
    padding: 26px 0px;
    font-size: 10.5px;
  }
  body section .container #body-content .body-content--1a .main-content--1a small.small:before {
    content: "____________";
    position: relative;
    top: -7px;
    left: 0;
    margin-right: 9px;
  }
  body section .container #body-content .body-content--1a .main-content--1a small.small:after {
    content: "____________";
    position: relative;
    top: -7px;
    right: 0;
    margin-left: 4px;
  }
}

@media only screen and (max-width: 1000px) {
  body section .container #body-content .body-content--1a .main-content--1a small.small {
    padding: 15px 0px;
    font-size: 13px;
  }
  body section .container #body-content .body-content--1a .main-content--1a small.small:before {
    content: "____________";
    position: relative;
    top: -7px;
    left: 0;
    margin-right: 9px;
  }
  body section .container #body-content .body-content--1a .main-content--1a small.small:after {
    content: "____________";
    position: relative;
    top: -7px;
    right: 0;
    margin-left: 4px;
  }
}

@media only screen and (min-width: 1000px) {
  body section .container #body-content .body-content--1a .main-content--1a small.small {
    padding: 15px 0px;
    font-size: 13px;
  }
  body section .container #body-content .body-content--1a .main-content--1a small.small:before {
    content: "____________";
    position: relative;
    top: -7px;
    left: 0;
    margin-right: 9px;
  }
  body section .container #body-content .body-content--1a .main-content--1a small.small:after {
    content: "____________";
    position: relative;
    top: -7px;
    right: 0;
    margin-left: 4px;
  }
}

body section .container #body-content .body-content--1a .main-content--1a button.button-signin {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: #f7941e;
  color: #ffffff;
  font-weight: normal;
}

body section .container #body-content .body-content--1a .main-content--1a button.button-google {
  float: right;
  width: 47.67%;
  color: #333333;
  height: 35px;
  background-color: #ffffff;
  font-size: 12px;
}

body section .container #body-content .body-content--1a .main-content--1a button.button-google img {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 8px;
  left: 45px;
}

body section .container #body-content .body-content--1a .main-content--1a button.button-facebook {
  width: 47.67%;
  float: left;
  height: 35px;
  background-color: #39579a;
  color: #ffffff;
  font-size: 12px;
}

body section .container #body-content .body-content--1a .main-content--1a button.button-facebook img {
  height: 15px;
  width: 15px;
  position: absolute;
  top: 8px;
  left: 38px;
}

body section .container #body-content .body-content--1a .main-content--1a p {
  padding: 10px 0;
  text-align: center;
  margin: 0px;
}

@media (max-width: 767px) {
  body section .container #body-content .body-content--1a .main-content--1a p {
    display: block;
  }
}

body section .container #body-content .body-content--1b {
  background-color: #ffffff;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  body section .container #body-content .body-content--1b {
    padding: 127px 36px;
  }
}

@media only screen and (min-width: 1200px) {
  body section .container #body-content .body-content--1b {
    padding: 120px 36px;
  }
}

body section .container #body-content .body-content--1b ._box-text-content--1b h4.not-member--1 {
  text-align: center;
  padding: 0px;
  margin: 0px;
  font-size: 22px;
  color: #333333;
}

body section .container #body-content .body-content--1b ._box-text-content--1b h4.not-member--2 {
  text-align: center;
  padding: 0px;
  margin: 10px 0px 0px 0px;
  font-size: 22px;
  color: #333333;
}

body section .container #body-content .body-content--1b ._box-text-content--1b p {
  margin: 30px 0px;
  padding: 0px;
  text-align: center;
  color: #a1a1a1;
}

body section .container #body-content .body-content--1b ._box-text-content--1b button.button-purchase--nologin {
  background-color: #e5e5e5;
  color: #212121;
  width: 100%;
  height: 40px;
}

body section .container #body-content .body-content--2 {
  background-color: #ffffff;
  padding: 10px 0px 0px;
}

body section .container #body-content .body-content--2 .h4 {
  padding: 0px 20px;
}

body section .container #body-content .body-content--2 .h4 h4 {
  color: #333333;
}

body section .container #body-content .body-content--2 .h4 h4 span.badge {
  background-color: #ffffff;
  color: #333333;
  opacity: 0.7;
  font-weight: normal;
  font-size: 15px;
}

body section .container #body-content .body-content--2 hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #ebebeb;
}

body section .container #body-content .body-content--2 .product .col-md-2, body section .container #body-content .body-content--2 .product .col-md-3, body section .container #body-content .body-content--2 .product .col-md-7 {
  padding: 0;
  margin: 0;
}

body section .container #body-content .body-content--2 .product .product-1 {
  border-bottom: 1px dashed #ebebeb;
}

body section .container #body-content .body-content--2 .product .product-1 .row {
  padding: 0px 20px;
  margin: 10px 0px 5px;
}

body section .container #body-content .body-content--2 .product .product-2 .row {
  padding: 0px 20px;
  margin: 10px 0px 5px;
}

body section .container #body-content .body-content--2 .product .product-image img {
  display: block;
  margin: 0 auto;
}

body section .container #body-content .body-content--2 .product .product-introduce p {
  text-align: left;
  padding: 0px 10px;
}

body section .container #body-content .body-content--2 .product .product-price p {
  text-align: right;
  font-size: 16px;
}

body section .container #body-content .body-content--2 .product .purchase {
  background-color: #ebebeb;
  padding-top: 5px;
}

@media only screen and (min-width: 1200px) {
  body section .container #body-content .body-content--2 .product .purchase {
    margin: 3px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  body section .container #body-content .body-content--2 .product .purchase {
    margin: 2px;
  }
}

body section .container #body-content .body-content--2 .product .purchase .purchase-detail--price {
  padding-top: 5px;
}

body section .container #body-content .body-content--2 .product .purchase .purchase-detail--price .row {
  padding: 0;
  margin: 0px 20px;
  border-bottom: 1px dashed #cccccc;
}

body section .container #body-content .body-content--2 .product .purchase .purchase-detail--price .row .col-md-6 {
  padding: 0;
  margin: 0;
}

body section .container #body-content .body-content--2 .product .purchase .purchase-detail--price .row .col-md-6 .purchase-detail--left {
  text-align: left;
  float: left;
}

body section .container #body-content .body-content--2 .product .purchase .purchase-detail--price .row .col-md-6 .purchase-detail--left p.p1-left, body section .container #body-content .body-content--2 .product .purchase .purchase-detail--price .row .col-md-6 .purchase-detail--left p.p2-left {
  color: #333333;
}

body section .container #body-content .body-content--2 .product .purchase .purchase-detail--price .row .col-md-6 .purchase-detail--right {
  text-align: right;
  float: right;
}

body section .container #body-content .body-content--2 .product .purchase .purchase-detail--price .row .col-md-6 .purchase-detail--right p.p1-right {
  color: #333333;
  font-size: 16px;
}

body section .container #body-content .body-content--2 .product .purchase .purchase-detail--price .row .col-md-6 .purchase-detail--right p.p2-right {
  color: #006cc6;
}

body section .container #body-content .body-content--2 .product .purchase .total-price {
  margin-top: 15px;
}

body section .container #body-content .body-content--2 .product .purchase .total-price .row {
  padding: 0;
  margin: 0px 20px;
}

body section .container #body-content .body-content--2 .product .purchase .total-price .row .col-md-6 {
  padding: 0;
  margin: 0;
}

body section .container #body-content .body-content--2 .product .purchase .total-price .row .col-md-6 .total-price--left {
  text-align: left;
  float: left;
}

body section .container #body-content .body-content--2 .product .purchase .total-price .row .col-md-6 .total-price--left p {
  color: #333333;
}

body section .container #body-content .body-content--2 .product .purchase .total-price .row .col-md-6 .total-price--right {
  text-align: right;
  float: right;
}

body section .container #body-content .body-content--2 .product .purchase .total-price .row .col-md-6 .total-price--right p {
  color: #ce0021;
  font-size: 18px;
  font-weight: bold;
}

.choice {
  background-color: #f7941e;
}

@media (max-width: 767px) {
  .form_mb {
    padding-right: 0;
    padding-left: 0;
  }
}
/*# sourceMappingURL=pay_login.css.map */