* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebebeb !important;
}

body a {
  text-decoration: none !important;
}

body .container .col-md-12 {
  padding: 0;
}

body .container .col-md-12 ._progress-bar {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #f7941e !important;
  width: 50%;
}

body .container .col-md-12 ._progress-bar span {
  position: absolute;
  bottom: -7px;
  z-index: 1000;
  left: 49%;
}

body .container #nav-content {
  margin: 0;
  background-color: #ffffff;
  margin-bottom: 15px;
}

body .container #nav-content ul {
  list-style-type: none;
  margin: 0;
}

body .container #nav-content ul li {
  display: block;
  float: left;
  padding: 10px 64px;
}

@media (max-width: 767px) {
  body .container #nav-content ul li {
    float: unset;
    text-align: center;
  }
}

body .container #nav-content ul li a {
  color: #555555;
}

body .container #nav-content ul li:hover > a {
  color: #f7941e;
}

body .container #nav-content ul li #checked {
  font-weight: bold;
  color: #f7941e;
}

@media (max-width: 767px) {
  body .container #nav-content ul li #checked {
    color: #fff;
  }
}

body .container #nav-content ul li #last-checked {
  color: #f9b87c;
  font-weight: bold;
}

@media (max-width: 767px) {
  body .container #nav-content ul li #last-checked {
    color: #555555;
    font-weight: normal;
  }
}

body .container #body-content {
  margin: 10px 0;
}

body .container #body-content .col-md-4 {
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 1200px) {
  body .container #body-content .col-md-8 {
    margin: 0;
    padding: 0 10px 0 0;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
  body .container #body-content .col-md-8 {
    margin: 0;
    padding: 0;
  }
}

body .container #body-content .body-content--1 {
  background-color: #ffffff;
}

body .container #body-content .body-content--1 h4 {
  padding: 6px 20px;
  font-weight: bold;
}

body .container #body-content .body-content--1 hr {
  background-color: #e5e5e5;
  height: 1px;
  border: 0;
  margin: 0;
}

body .container #body-content .body-content--1 .main-content--1 {
  padding: 6px 20px;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px dashed #dddddd;
  padding: 10px 0;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--1 .radio-thanhtoan1 {
  float: left;
  display: inline-block;
  position: relative;
  padding: 14px 0;
  margin: 0;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--1 .radio-thanhtoan1 input[type='radio'] {
  float: left;
  display: none;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--1 .radio-thanhtoan1 input[type='radio']:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 26.5px;
  left: 4px;
  content: " ";
  display: inline-block;
  background: #f7941e;
  border: 2px solid #f7941e;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--1 .radio-thanhtoan1 input[type='radio']:checked + label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #f7941e;
  background-color: transparent;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--1 .radio-thanhtoan1 label {
  color: #333333;
  font-weight: normal;
  float: left;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--1 .radio-thanhtoan1 label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #dddddd;
  background-color: transparent;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--1 .radio-thanhtoan1 label img {
  padding: 5px 15px 5px 10px;
  display: inline-block;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--1 .radio-thanhtoan1 .text {
  display: inline-block;
  float: left;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--1 .radio-thanhtoan1 .text p {
  font-weight: bold;
  color: #333333;
  margin: 0;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--1 .radio-thanhtoan1 .text small {
  color: #999999;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--2 {
  border-bottom: 1px dashed #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--2 .radio-thanhtoan2 {
  float: left;
  display: inline-block;
  position: relative;
  padding: 14px 0;
  margin: 0;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--2 .radio-thanhtoan2 input[type='radio'] {
  float: left;
  display: none;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--2 .radio-thanhtoan2 input[type='radio']:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 30px;
  left: 4px;
  content: " ";
  display: inline-block;
  background: #f7941e;
  border: 2px solid #f7941e;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--2 .radio-thanhtoan2 input[type='radio']:checked + label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #f7941e;
  background-color: transparent;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--2 .radio-thanhtoan2 label {
  color: #333333;
  font-weight: normal;
  float: left;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--2 .radio-thanhtoan2 label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #dddddd;
  background-color: transparent;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--2 .radio-thanhtoan2 label img {
  padding: 5px 15px 5px 10px;
  display: inline-block;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--2 .radio-thanhtoan2 .text {
  display: inline-block;
  float: left;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--2 .radio-thanhtoan2 .text p {
  font-weight: bold;
  color: #333333;
  margin: 0;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--2 .radio-thanhtoan2 .text small {
  color: #999999;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0;
  padding: 10px 0;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--3 .radio-thanhtoan3 {
  float: left;
  display: inline-block;
  position: relative;
  padding: 14px 0;
  margin: 0;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--3 .radio-thanhtoan3 input[type='radio'] {
  float: left;
  display: none;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--3 .radio-thanhtoan3 input[type='radio']:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 24.5px;
  left: 4px;
  content: " ";
  display: inline-block;
  background: #f7941e;
  border: 2px solid #f7941e;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--3 .radio-thanhtoan3 input[type='radio']:checked + label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #f7941e;
  background-color: transparent;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--3 .radio-thanhtoan3 label {
  color: #333333;
  font-weight: normal;
  float: left;
  marin: 0;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--3 .radio-thanhtoan3 label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #dddddd;
  background-color: transparent;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--3 .radio-thanhtoan3 label img {
  padding: 5px 15px 5px 10px;
  display: inline-block;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--3 .radio-thanhtoan3 .text {
  display: inline-block;
  float: left;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--3 .radio-thanhtoan3 .text p {
  font-weight: bold;
  color: #333333;
  margin: 0;
}

body .container #body-content .body-content--1 .main-content--1 .content-thanhtoan--3 .radio-thanhtoan3 .text small {
  color: #999999;
}

body .container #body-content .body-content--1 .main-content--1 .choose-bank {
  padding: 10px 10px 25px 80px;
}

body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank {
  list-style-type: none;
}

body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li {
  padding: 10px 20px;
  border: 1px solid #dddddd;
  margin-right: 15px;
  float: left;
  width: 31%;
  background-color: #f9f9f9;
}

body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-visa, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietcombank, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietinbank {
  float: left;
  display: inline-block;
  position: relative;
  padding: 14px 0;
  margin: 0;
}

body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-visa input[type='radio'], body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietcombank input[type='radio'], body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietinbank input[type='radio'] {
  float: left;
  display: none;
}

body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-visa input[type='radio']:checked + label:after, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietcombank input[type='radio']:checked + label:after, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietinbank input[type='radio']:checked + label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 33px;
  left: 4px;
  content: " ";
  display: inline-block;
  background: #f7941e;
  border: 2px solid #f7941e;
}

body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-visa input[type='radio']:checked + label:before, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietcombank input[type='radio']:checked + label:before, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietinbank input[type='radio']:checked + label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 15px;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #f7941e;
  background-color: transparent;
}

body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-visa label, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietcombank label, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietinbank label {
  color: #333333;
  font-weight: normal;
  float: left;
  margin: 0;
}

body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-visa label:before, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietcombank label:before, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietinbank label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 15px;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #dddddd;
  background-color: transparent;
}

body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-visa label img, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietcombank label img, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietinbank label img {
  padding: 0px 15px 5px 10px;
  display: inline-block;
}

body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-visa label p, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietcombank label p, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietinbank label p {
  display: block;
  margin-left: 39px;
  margin-top: 5px;
  color: #333333;
  font-size: 12.5px;
}

body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietcombank p, body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li .radio-vietinbank p {
  display: block;
  margin-left: 34px !important;
  color: #333333;
  font-size: 12.5px;
}

body .container #body-content .body-content--1 .main-content--1 .choose-bank ul.bank li.vietinbank {
  margin-right: 0px;
}

body .container #body-content .body-content--2a {
  background-color: #ffffff;
  padding: 10px 0 0;
}

body .container #body-content .body-content--2a .h4 {
  padding: 0 20px;
}

body .container #body-content .body-content--2a .h4 h4 {
  color: #333333;
}

body .container #body-content .body-content--2a .h4 h4 span.badge {
  background-color: #ffffff;
  color: #333333;
  opacity: 0.7;
  font-weight: normal;
  font-size: 15px;
}

body .container #body-content .body-content--2a hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #ebebeb;
}

body .container #body-content .body-content--2a .product .col-md-2,
body .container #body-content .body-content--2a .product .col-md-3,
body .container #body-content .body-content--2a .product .col-md-7 {
  padding: 0;
  margin: 0;
}

body .container #body-content .body-content--2a .product .product-1 {
  border-bottom: 1px dashed #ebebeb;
}

body .container #body-content .body-content--2a .product .product-1 .row {
  padding: 0 20px;
  margin: 10px 0 5px;
}

body .container #body-content .body-content--2a .product .product-2 .row {
  padding: 0 20px;
  margin: 10px 0 5px;
}

body .container #body-content .body-content--2a .product .product-image img {
  display: block;
  margin: 0 auto;
}

body .container #body-content .body-content--2a .product .product-introduce p {
  text-align: left;
  padding: 0 10px;
}

body .container #body-content .body-content--2a .product .product-price p {
  text-align: right;
  font-size: 16px;
}

body .container #body-content .body-content--2a .product .purchase {
  background-color: #ebebeb;
  padding-top: 5px;
}

@media only screen and (min-width: 1200px) {
  body .container #body-content .body-content--2a .product .purchase {
    margin: 3px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  body .container #body-content .body-content--2a .product .purchase {
    margin: 2px;
  }
}

body .container #body-content .body-content--2a .product .purchase .purchase-detail--price {
  padding-top: 5px;
}

body .container #body-content .body-content--2a .product .purchase .purchase-detail--price .row {
  padding: 0;
  margin: 0 20px;
  border-bottom: 1px dashed #cccccc;
}

body .container #body-content .body-content--2a .product .purchase .purchase-detail--price .row .col-md-6 {
  padding: 0;
  margin: 0;
}

body .container #body-content .body-content--2a .product .purchase .purchase-detail--price .row .col-md-6 .purchase-detail--left {
  text-align: left;
  float: left;
}

body .container #body-content .body-content--2a .product .purchase .purchase-detail--price .row .col-md-6 .purchase-detail--left p.p1-left,
body .container #body-content .body-content--2a .product .purchase .purchase-detail--price .row .col-md-6 .purchase-detail--left p.p2-left {
  color: #333333;
}

body .container #body-content .body-content--2a .product .purchase .purchase-detail--price .row .col-md-6 .purchase-detail--right {
  text-align: right;
  float: right;
}

body .container #body-content .body-content--2a .product .purchase .purchase-detail--price .row .col-md-6 .purchase-detail--right p.p1-right {
  color: #333333;
  font-size: 16px;
}

body .container #body-content .body-content--2a .product .purchase .purchase-detail--price .row .col-md-6 .purchase-detail--right p.p2-right {
  color: #006cc6;
}

body .container #body-content .body-content--2a .product .purchase .total-price {
  margin-top: 15px;
}

body .container #body-content .body-content--2a .product .purchase .total-price .row {
  padding: 0;
  margin: 0 20px;
}

body .container #body-content .body-content--2a .product .purchase .total-price .row .col-md-6 {
  padding: 0;
  margin: 0;
}

body .container #body-content .body-content--2a .product .purchase .total-price .row .col-md-6 .total-price--left {
  text-align: left;
  float: left;
}

body .container #body-content .body-content--2a .product .purchase .total-price .row .col-md-6 .total-price--left p {
  color: #333333;
}

body .container #body-content .body-content--2a .product .purchase .total-price .row .col-md-6 .total-price--right {
  text-align: right;
  float: right;
}

body .container #body-content .body-content--2a .product .purchase .total-price .row .col-md-6 .total-price--right p {
  color: #ce0021;
  font-size: 18px;
  font-weight: bold;
}

body .container #body-content .body-content--2b {
  margin: 10px 0;
  padding: 23px 0 20px;
  background-color: #ffffff;
}

body .container #body-content .body-content--2b h4 {
  padding: 0 20px;
}

body .container #body-content .body-content--2b .row {
  padding: 0 20px;
  margin: 0;
}

body .container #body-content .body-content--2b .row input {
  float: left;
  width: 80%;
  height: 40px;
  padding: 0 15px;
  border: 0.5px solid #dddddd;
}

body .container #body-content .body-content--2b .row button {
  float: right;
  width: 20%;
  background-color: #252525;
  color: #ffffff;
  height: 40px;
  border-radius: 0;
  border: 0.5px solid #252525;
}

body .container #body-content .body-content--2c button {
  background-color: #f7941e;
  color: #ffffff;
  width: 100%;
  height: 50px;
}

@media (max-width: 767px) {
  .cart_pc {
    display: none;
  }
  .choice1 {
    background-color: #f7941e;
  }
  #nav-content ul li a {
    display: block;
  }
  .left-cart-pay {
    padding-left: 0;
    padding-right: 0;
  }
  .pc30 {
    padding: 0;
  }
  .right-cart {
    padding: 0;
  }
}
/*# sourceMappingURL=thanhtoan_thanhtoan-online.css.map */