.clearfix {
  clear: both;
}

* {
  margin: 0;
  padding: 0;
}

//@media only screen and (min-width:768px) {
body {
  background-color: #f5f5f5 !important;
  a {
    text-decoration: none !important;
  }
  .menu-list-cart {
    padding: 5px 0 15px;
    @media(max-width: 767px){
      padding: 5px 0 10px;
    }
    .container {
      padding: 0;

      .col-md-12 {
        padding: 0;

        ._progress-bar {
          margin: 0;
          padding: 0;
          border-bottom: 1px solid #f7941e !important;
          width: 27%;
          span {
            position: absolute;
            bottom: -7px;
            z-index: 1;
            left: 95%;
          }
        }
      }

      #nav-content {
        margin: 0;
        background-color: #ffffff;

        ul {
          list-style-type: none;
          margin: 0;

          li {
            display: block;
            float: left;
            padding: 10px 52.5px;
            @media(max-width: 767px) {
              float: unset;
            }

            a {
              color: #555555;
            }

            &:hover > a {
              color: #f7941e;
            }

            #checked {
              font-weight: bold;
              color: #f7941e;
              @media(max-width: 767px) {
                color: #fff;
              }
            }

            #last-checked {
              color: #f9b87c;
              font-weight: bold;
              @media(max-width: 767px) {
                color: #555555;
                font-weight: normal;
              }
            }
          }
        }
      }

      #body-content {
        margin: 10px 0;

        .col-md-4 {
          margin: 0;
          padding: 0;
        }
        @media only screen and (min-width: 1200px) {
          .col-md-8 {
            margin: 0;
            padding: 0 10px 0 0;
          }
        }
        @media only screen and (max-width: 1200px) and (min-width: 768px) {
          .col-md-8 {
            margin: 0;
            padding: 0;
          }
        }

        .body-content--1a {
          background-color: #ffffff;

          h4 {
            padding: 6px 20px;
            font-weight: bold;
          }

          hr {
            background-color: #e5e5e5;
            height: 1px;
            border: 0;
            margin: 0;
          }

          .main-content--1a {
            padding: 0 100px;

            .row {
              margin: 0;
              padding: 0;
            }

            .row1 {
              padding: 20px 0 0;

              .col-md-4,
              .col-md-8 {
                margin: 0;
                padding: 0;
              }

              h5 {
                margin: 4px 0;
                font-weight: bold;
              }

              .shop-address {
                float: left;

                p {
                  margin: 0;
                }
              }

              .change-shop {
                float: right;

                a {
                  float: right;
                }
              }
            }

            form {
              .col-md-8 {
                margin: 0;
                padding: 0;
              }
              padding: 20px 0 30px;

              h5 {
                font-weight: bold;
                color: #333333;
              }

              p {
                color: #333333;
                margin: 0;
                padding: 15px 0;
              }

              input {
                width: 100%;
                height: 40px;
                padding: 0 15px;
                border: 1px solid #dddddd;
              }

              select {
                border-radius: 0;
                border: 1px solid #dddddd;
              }
            }
          }
        }

        .body-content--1b {
          margin: 10px 0;
          background-color: #ffffff;

          h4 {
            padding: 6px 20px;
            font-weight: bold;
          }

          hr {
            background-color: #e5e5e5;
            height: 1px;
            border: 0;
            margin: 0;
          }

          .main-content--1b {
            padding: 15px 20px;

            input[type=checkbox] {
              display: none;
            }

            label {
              position: relative;
              padding-left: 20px;
              font-weight: normal;
            }

            span:before {
              content: "";
              display: inline-block;
              width: 16px;
              height: 16px;
              margin-right: 5px;
              background-color: #ffffff;
              position: absolute;
              border: 1px solid #333333;
              left: 0;
              bottom: 3px;
            }

            input[type=checkbox]:checked + label span:before {
              content: "\2713";
              font-size: 15px;
              color: #ffffff;
              text-align: center;
              line-height: 16px;
              background-color: #f7941e;
              border: 1px solid #f7941e;
            }
          }
        }

        .body-content--1c {
          margin: 10px 0;
          background-color: #ffffff;

          h4 {
            padding: 6px 20px;
            font-weight: bold;
          }

          hr {
            background-color: #e5e5e5;
            height: 1px;
            border: 0;
            margin: 0;
          }

          .main-content--1c {
            padding: 14px 20px;
            .list-vanchuyen {
              .radio-vanchuyen1 {
                border-bottom: 1px dashed #dddddd;
                display: block;
                position: relative;
                padding: 14px 0;
                margin: 0 0;
                input[type='radio'] {
                  float: left;
                  display: none;
                  &:checked + label:after {
                    border-radius: 11px;
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    top: 27.5px;
                    left: 4px;
                    content: " ";
                    display: block;
                    background: #f7941e;
                    border: 2px solid #f7941e;
                  }
                  &:checked + label:before {
                    content: " ";
                    display: inline-block;
                    position: relative;
                    top: 5px;
                    margin: 0 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 11px;
                    border: 2px solid #f7941e;
                    background-color: transparent;
                  }
                }
                label {
                  float: left;
                  color: #333333;
                  font-weight: normal;
                  &:before {
                    content: " ";
                    display: inline-block;
                    position: relative;
                    top: 5px;
                    margin: 0 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 11px;
                    border: 2px solid #dddddd;
                    background-color: transparent;
                  }
                  img {
                    padding: 5px;
                    display: inline-block;
                  }
                  span small {
                    color: #999999;
                  }
                }
                p {
                  float: right;
                  padding: 10px 0px;
                  color: #006cc6;
                }
              }
              .radio-vanchuyen2 {
                border-bottom: 0;
                display: block;
                position: relative;
                padding: 14px 0;
                margin: 0 0;
                input[type='radio'] {
                  float: left;
                  display: none;
                  &:checked + label:after {
                    border-radius: 11px;
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    top: 27.5px;
                    left: 4px;
                    content: " ";
                    display: block;
                    background: #f7941e;
                    border: 2px solid #f7941e;
                  }
                  &:checked + label:before {
                    content: " ";
                    display: inline-block;
                    position: relative;
                    top: 5px;
                    margin: 0 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 11px;
                    border: 2px solid #f7941e;
                    background-color: transparent;
                    img.img-onehour-no-checked {
                      display: none;
                    }
                  }
                }
                label {
                  float: left;
                  color: #333333;
                  font-weight: normal;
                  &:before {
                    content: " ";
                    display: inline-block;
                    position: relative;
                    top: 5px;
                    margin: 0 0;
                    width: 20px;
                    height: 20px;
                    border-radius: 11px;
                    border: 2px solid #dddddd;
                    background-color: transparent;
                  }
                  img {
                    padding: 5px;
                    display: inline-block;
                  }
                  span small {
                    color: #999999;
                  }
                }
                p {
                  float: right;
                  padding: 10px 0px;
                  color: #006cc6;
                }
              }
            }
          }
        }

        .body-content--1d {
          background-color: #ffffff;
          padding: 15px 20px;

          input[type=checkbox] {
            display: none;
          }

          label {
            position: relative;
            padding-left: 20px;
            font-weight: normal;
          }

          span:before {
            content: "";
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-right: 5px;
            background-color: #ffffff;
            position: absolute;
            border: 1px solid #333333;
            left: 0;
            bottom: 3px;
          }

          input[type=checkbox]:checked + label span:before {
            content: "\2713";
            font-size: 15px;
            color: #ffffff;
            text-align: center;
            line-height: 16px;
            background-color: #f7941e;
            border: 1px solid #f7941e;
          }
        }

        .body-content--2a {
          background-color: #ffffff;
          padding: 10px 0 0;

          .h4 {
            padding: 0 20px;

            h4 {
              color: #333333;

              span.badge {
                background-color: #ffffff;
                color: #333333;
                opacity: 0.7;
                font-weight: normal;
                font-size: 15px;
              }
            }
          }

          hr {
            margin-top: 10px;
            margin-bottom: 10px;
            border: 0;
            border-top: 1px solid #ebebeb;
          }

          .product {
            .col-md-2,
            .col-md-3,
            .col-md-7 {
              padding: 0;
              margin: 0;
            }

            .product-1 {
              .row {
                padding: 0 20px;
                margin: 10px 0 5px;
              }
              border-bottom: 1px dashed #ebebeb;
            }

            .product-2 {
              .row {
                padding: 0 20px;
                margin: 10px 0 5px;
              }
            }

            .product-image {
              img {
                display: block;
                margin: 0 auto;
              }
            }

            .product-introduce {
              p {
                text-align: left;
                padding: 0 10px;
              }
            }

            .product-price {
              p {
                text-align: right;
                font-size: 16px;
              }
            }

            .purchase {
              background-color: #ebebeb;
              @media only screen and (min-width: 1200px) {
                margin: 3px;
              }
              @media only screen and (min-width: 768px) and (max-width: 1200px) {
                margin: 2px;
              }
              padding-top: 5px;

              .purchase-detail--price {
                padding-top: 5px;

                .row {
                  padding: 0;
                  margin: 0 20px;
                  border-bottom: 1px dashed #cccccc;

                  .col-md-6 {
                    padding: 0;
                    margin: 0;

                    .purchase-detail--left {
                      text-align: left;
                      float: left;

                      p.p1-left,
                      p.p2-left {
                        color: #333333;
                      }
                    }

                    .purchase-detail--right {
                      text-align: right;
                      float: right;

                      p.p1-right {
                        color: #333333;
                        font-size: 16px;
                      }

                      p.p2-right {
                        color: #006cc6;
                      }
                    }
                  }
                }
              }

              .total-price {
                margin-top: 15px;

                .row {
                  padding: 0;
                  margin: 0 20px;

                  .col-md-6 {
                    padding: 0;
                    margin: 0;

                    .total-price--left {
                      text-align: left;
                      float: left;

                      p {
                        color: #333333;
                      }
                    }

                    .total-price--right {
                      text-align: right;
                      float: right;

                      p {
                        color: #ce0021;
                        font-size: 18px;
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .body-content--2b {
          margin: 10px 0;
          padding: 23px 0 20px;
          background-color: #ffffff;

          h4 {
            padding: 0 20px;
          }

          .row {
            padding: 0 20px;
            margin: 0;

            input {
              float: left;
              width: 80%;
              height: 40px;
              padding: 0 15px;
              border: 0.5px solid #dddddd;
            }

            button {
              float: right;
              width: 20%;
              background-color: #252525;
              color: #ffffff;
              height: 40px;
              border-radius: 0;
              border: 0.5px solid #252525;
            }
          }
        }

        .body-content--2c {
          button {
            background-color: #f7941e;
            color: #ffffff;
            width: 100%;
            height: 50px;
          }
        }
      }
    }
  }

  footer {
  }
}

//}
@media(max-width: 767px) {
  .cart_pc {
    display: none;
  }
  //.choice {
  //  background-color: #f9b87c;
  //}
  .choice1 {
    background-color: #f7941e;
  }
  #nav-content ul li a {
    display: block;
  }
  .left-cart-pay{
    padding-left: 0;
    padding-right: 0;
  }
}

