.newslist-home-inner{
	border: 1px solid #c9c9c9;
	margin-bottom: 15px;
	margin-top: 10px;
	box-shadow: 1px 1px 1px 0px #efefef;
	h2{
		background: #2391d0 url(../images/title.png) no-repeat center right;
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;
		padding: 10px 15px;
		a{
			font-size: 14px;
			color: #fff;
			text-transform: uppercase;
		}
	}
	ul{
		padding: 15px;
		li{
			margin-bottom: 15px;
			a{
				i{
					font-size: 4px;
					vertical-align: middle;
					margin-right: 7px;
				}
			}
		}
	}
}