.wraper-department{
    background: #fff;
    border-radius: 5px;
    padding: 30px;
}

.border-pro {
    margin-bottom: 20px;
}

.border-mainmenu {
    height: 3px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.left-de {
    overflow: hidden;
}

.right-de {
    width: 417px;
    margin-left: 33px;
    float: right;
}

.title-add {
    background: url(../images/title-add.png) no-repeat left center;
    font-size: 18px;
    color: #333;
    padding-left: 30px;
    height: 20px;
    padding-top: 2px;
    margin: 0px 0px 20px 0px;
}

.wrapper-select-add select:last-child {
    margin-right: 0px;
}

.wrapper-select-add select {
    width: 199px;
    height: 32px;
    border: 1px solid #e5e5e5;
    margin-right: 14px;
    background: url(../images/select-add.png) no-repeat 95% center;
    -webkit-appearance: none;
    padding-left: 10px;
}

#map_canvas {
    width: 100%;
    height: 642px;
}

.wrapper-list-agency {
    height: 550px;
    margin-top: 20px;
    border-top: 1px solid #e5e5e5;
    padding-right: 20px;
}

.list-item-agency {
    padding-left: 0px;
}

.name-agency {
    font-size: 14px;
    color: #333;
    margin-top: 0px;
    margin-bottom: 15px;
}

.name-agency:hover {
    cursor: pointer;
    color: red;
}

.img-agency:hover {
    cursor: pointer;
}

.wrapper-info-agency p {
    color: #666666;
    margin-bottom: 5px;
    line-height: 20px;
}

.item-agency > img {
    margin-right: 15px;
    float: left;
}

li.item-agency {
    list-style: none;
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    margin-top: 20px;
}

li.item-agency:first-child {
    list-style: none;
    border-top: none;
    padding-top: 20px;
    margin-top: 0px;
}

.mCSB_dragger_bar {
    width: 5px !important;
    border-radius: 0px !important;
    background: #ccc !important;
}

.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: 0;
    margin: 0px 0px 0px 0px !important;
    background: #f5f5f5;
    width: 7px !important;
}

.info_content {
    text-align: center;
}

.map-top {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 22px;
}

.gm-style .gm-style-iw {
    text-align: center;
}

.map-top h4 {
    font-size: 18px;
    color: #c4161c;
    margin-bottom: 18px;
}

.info_content p {
    line-height: 15px;
}

.add-agency {
    background: url(../images/local-add.png) no-repeat 167px 2px;
    padding-left: 184px;
}

.add-phone {
    background: url(../images/phone-add.png) no-repeat 165px 2px;
    padding-left: 184px;
}


@media (max-width: 575.98px) {
    .wraper-department{
        padding: 15px;
    }
    .list-item-agency{
        height: 300px;
        overflow-y:scroll;
    }
    .wrapper-list-agency{
        height: auto;
    }
}
@media only screen and (max-width: 400px) {

    p.add-phone {
        padding-left: 15px !important;
        background: url(../images/phone-add.png) no-repeat left 2px !important;
    }

    .add-agency {
        background: url(../images/local-add.png) no-repeat left 2px !important;
        padding-left: 15px !important;
    }

    .item-agency > img {
        margin-right: 0px !important;
        width: 100%;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 800px) {
    .wrapper-select-add select {
        width: 46% !important;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .wrapper-select-add select {
        width: 47% !important;
    }

    .right-de {
        width: 350px !important;
    }
}

@media only screen and (max-width: 600px) {
    #map_canvas {
        height: 300px !important;
    }
}

@media only screen and (max-width: 1100px) {
    .frame_head {
         background: none !important; 
        margin-bottom: 15px;
    }
    .frame_head h1 span {
        color: #333;
        text-transform: uppercase;
    }
}
@media only screen and (max-width: 800px) {
    .right-de.fr {
        width: 100% !important;
        margin-left: 0px !important;
        margin-bottom: 25px;
    }

    .left-de {
        overflow: visible !important;
        width: 100%;
    }
}

#nav-mainmenu {
    margin-bottom: 23px;
}

