.book1{
    display: block;
    background-color: #ffffff;
    width: 100% !important;
    margin-top: 0!important;
    p{
        font-size: 18px;
        color: #333333;
        font-weight: bold;
        padding: 10px 0 10px 10px;
    }
    img{
        padding: 0 !important;
    }
    &:first-child{
        margin-bottom: 7px;
    }
}
.book2{
    display: block;
    background-color: #ffffff;
    width: 103%;
    margin-top: 10px;
    p{
        font-size: 18px;
        color: #333333;
        font-weight: bold;
        padding: 10px 0 10px 10px;
    }
    img{
        padding: 0 10px 10px;
    }
}