.box-shadow-ql {
  background: #fee974;
}

.box-shadow-ql .main-breadcrumbs {
  display: none;
}

.box-shadow-ql .promotion-list .list_promotion_content {
  margin-bottom: 20px;
}

.box-shadow-ql .promotion-list .list_promotion_content .title-promotion {
  margin-top: 15px;
  background: url(../images/title-promotion.png) no-repeat center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  line-height: 60px;
  margin-bottom: 35px;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion {
  background: #fff;
  padding: 24px;
  margin-bottom: 40px;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .image-check {
  padding: 15px 20px;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .image-check a {
  display: block;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .image-check a img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .image-check a .title-book {
  margin-bottom: 5px;
  height: 40px;
  overflow: hidden;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .image-check a .price-book {
  height: 26px;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .image-check a .price-book .final-price {
  color: #ce0021;
  margin-right: 8px;
  font-weight: bold;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .image-check a .price-book .price-regular {
  color: #999;
  text-decoration: line-through;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .image-check a .price-book .sale-tag-square {
  float: right;
  background: #ce0021;
  border-radius: 15px;
  color: #fff;
  padding: 3px 12px;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .image-check .buy-now {
  margin-top: 10px;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .image-check .buy-now a {
  display: block;
  background: #00a78d;
  border-radius: 5px;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 7px;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .image-check:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .hide-class {
  display: none;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion [class^="hide-class-"] {
  display: none;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .show_all {
  margin-top: 20px;
  text-align: center;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .show_all .block_div, .box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .show_all .hide_div {
  background: #ce0021;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 68px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .show_all [class^="block_div_"] {
  background: #ce0021;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 68px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .show_all .hide_div {
  display: none;
}

.box-shadow-ql .promotion-list .list_promotion_content .list_cat_promotion .show_all [class^="hide_div_"] {
  background: #ce0021;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  padding: 15px 68px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}

@media (min-width: 1200px) {
  .image-check {
    width: 20%;
  }
}
/*# sourceMappingURL=promotion.css.map */